# Supabase Configuration
SUPABASE_URL=https://bxkfqxgiinsxdhsscdqn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4a2ZxeGdpaW5zeGRoc3NjZHFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA2NzgwODQsImV4cCI6MjA2NjI1NDA4NH0.qJoHgeyvqkOD54lgJQfRIED_i4k3wuFFqn0xa_u_GW4
